<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>App</title>
  </head>
  <body>
    <h1>this is the app</h1>
    <pre>served from: {{ ansible_hostname }} ({{ ansible_eth1.ipv4.address }})</pre>
    <a href="/api/" id="api-link">go to api</a>
  </body>
</html>
